.btn {
  background-color: #232631;
  color: #fff;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn .ion {
  width: 316px;
  height: 1.6rem;
  stroke: #fff;
}
.btn:hover {
  background: #fff;
  color: #232631;
}
.btn:active {
  transform: scale(0.9);
}
