/*CSS Import ============================*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("/src/css/mediaQueries.css");
@import url("/src/css/components.css");

/*=Root ================================*/
:root {
  /*=Color Basic=*/
  --clr-white: #fff;
  --clr-white2: #f2f2f2;
  --clr-white3: #bfbfbf;
  --clr-black: #000;
  --clr-black-2: #0d0d0d;
  --clr-gray: #404040;
  --gradient-color: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  /*Color UX/UI PRINCIPAL*/
  --clr-primary: #7338f2;
  --clr-secondary: #31188c;
  --clr-secblackOne: #010326;
  --clr-secBlaTwo: #060940;
  --clr-secBlaThr: #0a0e59;
  --clr-extra: #3fa663;
  /*=Typography=*/
  --font-family-Mon: "Montserrat", sans-serif;
  --font-family-DM: "DM Sans", sans-serif;
  /*=Font Size=*/
  --font-size-extra: 3rem;
  --font-size-title: 2.4rem;
  --font-size-Big: 1.8rem;
  --font-size-Medium: 1.6rem;
  --font-size-medium-plus: 1.5rem;
  --font-size-small: 1.2rem;
  -font-size-small-plus: 0.8rem;
  /*=Margins=*/
  --margin-top: 2rem;
  --margin-bottom: 2rem;
  --margin-left: 1rem;
  --margin-right: 1rem;
  --margin: 0 auto;
  /*=Text=*/
  --letter-spacing: 0.1rem;
  --gap: 2rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
/*= CSS General ================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
p,
span {
  letter-spacing: 0.1rem;
}
body {
  background-color: var(--clr-white2);
  position: relative;
  height: 100vh;
}

/*Design Style*/
.container {
  width: 320px;
  height: 640px;
  position: absolute;
  overflow: hidden;
  background-image: linear-gradient(#00000027, #00000023),
    url("../assets/image/sanFrancisco.jpg");
  left: 50%;
  top: 50%;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 3rem;
  box-shadow: 0px 56px 72px -30px rgba(50, 55, 63, 0.66);
}
.container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.container .body .body-title {
  font-size: var(--font-size-Big);
  color: #f2f2f2;
  padding: 0.5rem;
}
.container .body {
  background-color: #010326;
  color: #fff;
  margin-top: 40%;
  height: 100%;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
  padding: 3rem 2rem 0 2rem;
}
.body .text-description {
  font-size: 1.4rem;
  filter: opacity(0.6);
  padding: 0.5rem;
}
.container .body .rating__container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.rating__container .user {
  display: flex;
  align-items: center;
}
.rating__container .user .img {
  width: 3rem;
  height: 3rem;
  background-position: center;
  object-fit: cover;
  border-radius: 50%;
  background-size: cover;
}
.user .img-1 {
  background-image: url("../assets/image/perfil.png");
}
.user .img-2 {
  background-image: url("../assets/image/perfil2.jpg");
}
.user .img-3 {
  background-image: url("../assets/image/perfil4.jpg");
}
.user .img-4 {
  background-image: url("../assets/image/perfil5.jpg");
}
.user .img:not(:first-child) {
  margin-left: -1rem;
}
.user .rating-text {
  margin-left: 1.4rem;
  font-size: 1.6rem;
  filter: opacity(0.6);
}
.body .about {
  font-weight: 600;
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.body .detail {
  font-size: 1.2rem;
  filter: opacity(0.6);
  font-weight: 400;
  letter-spacing: 0.5px;
}

.body .booking__container {
  background-color: #2e3341;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
  margin-top: 38px;
  margin-left: -2rem;
  margin-right: -2rem;
  padding: 2rem;
  height: 82px;
  position: absolute;
  width: 100%;
}
.booking__container .book-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*=================================================>*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}
